/* ----------------------------login------- */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: rgb(223, 229, 243);
}
.right-side img
 {
  width: 100px;
 }
.hii i {
  font-size: 30px;
  color: #043a74;
  text-align: center;
}
.hii h6 {
  margin: auto;
}


.dropdown-login {
  color: #343a4099;
  font-size: 20px;
  position: absolute;
  height: 15;
  top: 30px;
  right: 90%;
  opacity: 1;

  width: 120px;
}
.container {
  display: flex;
}
.text {
  text-align: center;
  line-height: 10px;
}
.text h3 {
  color: rgb(44, 44, 113);
}

.loginn a {
  text-decoration: none;

  color: white;
  background-color: #043a74;
  display: inherit;
  text-align: center;
  /* width: 100%; */
  border-radius: 5px;
  margin-top: 50px;
  border: none;
  padding: 15px;
}

.bottom {
  display: flex;
  width: 100%;
  border-radius: 5px;
  margin-top: 50px;
  background-color: #043a74;
  color: white;
  border: none;
  padding: 15px;
}
.input {
  margin-top: 50px;
}

.input .iconn {
  bottom: 16px;
  font-size: 17px;
  position: absolute;
}
.input-login {
  padding: 10px;
}
.right-side- {
  background-color: white;
  margin-left: 40px;
}
.form-info {
  /* box-shadow: 0px 0px 24px 0px #343a401a; */
}
.left-side {
  padding: 20px;
  padding: 95px 50px 95px 50px;
  box-shadow: 0px 0px 24px 0px #343a401a;
  border-radius: 20px;
}
#lang {
  position: absolute;
  height: 10px;
  top: 30px;
  left: 30px;
  opacity: 1;
  color: #343a4099;
  width: 10px;
}
.top {
  text-align: center;
}
/* container */
.custom-container {
  display: flex;
  justify-content: space-between;
  padding: 95px 50px 95px 50px;
  gap: 40px;
}
.right-side .imgge img{
  width: 100%;
  height: 100%;
}
.right-side,
.left-side {
  flex: 1;
}
form input {
  margin-top: 20px;
  margin-bottom: 10px;
}

#result {
  background-color: red;
}
.form-control {
  padding: 30px;
}
/* =================================Login padge=========================== */

.right-login {
  margin-top: 20px;
  padding: 55px;
  border-radius: 20px;
}


.top-right svg {
  color: hsl(210.25deg 100% 23.33%);
  font-size: 30px;
  margin-bottom: 20px;
}

.top-right h5 {
  color: hsl(210.25deg 100% 23.33%);
  font-size: 19px;
}

.top-right h6 {
  color: hsl(200deg 1.62% 63.73%);
  font-size: 15px;
}

.right-login form label {
  margin-top: 15px;
}

.right-login form input {
  padding: 20px 35px;
}

.mail-input svg {
  color: hsl(204deg 2.51% 60.98%);
  top: 65%;
  right: 15px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .toggle-password {
  color: hsl(204deg 2.51% 60.98%);
  position: absolute;
  top: 77%;
  left: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-wrapper .lock-icon {
  color: hsl(204deg 2.51% 60.98%);
  top: 65%;
  right: 15px;
}

.right-login form input[type="submit"] {
  height: auto;
  color: white;
  background-color: hsl(210.54deg 94.92% 23.14%);
  font-size: 19px;
  padding: 14px 0 !important;
  margin-top: 30px;
}

.carousel-inner img {
  width: 90%;
  justify-self: center;
  border-radius: 20px;
}

.carousel-indicators {
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  position: relative;
  border-radius: 50%;
  z-index: 2;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: hsl(210.54deg 94.92%23.14%);
}

/* -----------------------------------sidbar--------- */

body {
  background-color: #f5f5f5 !important;
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 40px;
  /* direction: rtl; */
}
.title a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.back a {
  text-decoration: none;
  color:#043A74;
  position: relative;
  bottom: 70px;
  right: 15px;
  font-size: 17px;
}
.back i {
  font-size: 13px;
}
[dir="ltr"] .back a {
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 70px;
  right: -15px;
  font-size: 17px;
}

.main-sidebar {
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  min-height: 20vh;
  width: 200px;
  padding: 20px;
}
 

 .upp,.uppp , .upppp{
  margin-top:30px;
} 
.sidebar img {
  position: relative;
  width: 100px;
  left: 25px;
}
[dir="ltr"] .sidebar img {
  right: 25px;
  left: auto;
}
.sidebar {
  /* min-height: 20vh; */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 77px 40px 77px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 200px;
}
.right-side a{
  font-weight: 500;
  
}

.right-side .logout {
  margin-top: 200px;
  color: red;
  padding: 15px;
}
.right-side :nth-of-type(1),
:nth-of-type(2) :nth-of-type(3) {
  /* padding-bottom: 20px; */
}
/* Default link + icon color */

/* .sidebar a, */
.main-sidebar a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #343a4099; /* inactive */
}

/* Active link + icon */
.sidebar a.active,
.main-sidebar a.active {
  font-weight: bold;
  color: #043a74; /* active */
}

/* Hover state */
.sidebar a:hover,
.main-sidebar a:hover {
  color: #043a74;
}

/* Logout link */
.logout {
  color: red !important;
  margin-top: 40px;
  font-weight: bold;
}

.dropdown .btn {
    color: #343A40CC;
    
}
.dropdown .btn {

  letter-spacing: 1px;
}
.dropdown-toggle::after {
  margin-left: .265em;
}

/* --------------h0me------------------- */
.main-img img {
  width: 100%;
}
.text h4 {
  width: 500;
  font-weight: bold;

  margin-top: 30px;
}
.text {
  text-align: center;
  line-height: 50px;
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text p {
  font-size: 22px;
}

.content {
  width: 100%;
}
.header {
  width: 100%;
  /* direction: ltr; */
  padding: 20px;
  margin-top: 18px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}
.header:dir(rtl) {
  direction: ltr;
}
.header:dir(ltr) {
  direction: rtl;
}
.carousel-inner {
  border-radius: 20px;
}
.slids {
  direction: rtl;
}
.card-box i {
  font-size: 35px;
  position: relative;
  top: 20px;
}
.adding {
  display: flex;
  flex-direction: column;

  margin-top: -30px;
}
.adding a {
  display: block;
  text-align: center;
}
.adding h6 {
  color: #043a74;
}
.box i {
  color: #043a74;
}

.adding h6 {
  font-weight: bold;
  /* margin-right: 50px; */
  margin-left: auto;
}
.text-muted {
  /* margin-right: 50px; */
  margin-left: auto;

  color: #343a40cc;
}
[dir="ltr"] .adding h6,
.text-muted {
  font-weight: bold;
  margin-left: 50px;
  /* margin-right: auto; */
}
[dir="rtl"] .adding h6,
.text-muted {
  margin-right: 50px;
}

.bottonn a {
  text-align: center;
}
.botton {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #043a74;
  display: flex;
  width: 100%;
}
.botton a {
  text-align: center;
}
.card-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.card-box h6 {
  font-weight: bold;
}

/* ---------------add new-------------------------- */
body {
 /* font-family: "Almarai", sans-serif; */
  font-weight: 300;
  font-style: normal;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #d9d9d959;
  height: 70px;
  border-radius: 20px;
  padding: 10px;
}

.top-bar button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s, color 0.3s;
}

.top-bar button.active {
  color: #000 !important;
  background: white;
  color: white;
}

thead {
  background-color: #0c2f67;
  color: white;
}

th,
td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.action-btn {
  padding: 6px 12px;
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
  color: red;
  background-color: white;
}

.delete-btn {
  background-color: #e74c3c;
}
.add {
  background-color: white;
  border: 1px solid #4caf504d;
  padding: 5px;
  border-radius: 7px;
  color: #4caf50;
}

.add-btn {
  background-color: #2ecc71;
}

.form-footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 500px;
  /* margin-bottom: 20px; */
  /* flex-wrap: wrap; */
}
.form-footer textarea {
  width: 50%;
}

.form-footer input,
.form-footer textarea {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.end {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  align-items: flex-start;
  gap: 2rem; /* Flexible spacing */
  margin-top: 20px;
  clear: both;
}

.end > div {
  flex: 1 1 250px; /* Grow, shrink, min-width 250px */
}

.end label {
  display: block;
  margin-bottom: 8px;
}

.end textarea,
.end input {
  width: 100%; /* Full width of parent */
  border: none;
  border-radius: 8px;
  height: 5vh;
  min-height: 40px; /* Ensure touch-friendly */
  padding: 8px;
  box-sizing: border-box;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .end {
    flex-direction: column; /* Stack vertically */
    gap: 1rem;
  }
}

.save-btn {
  background-color: #0c2f67;
  color: white;
  padding: 12px 40px;
  width: 400px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 18px;
  margin-top: 20px;
}

.input-row select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.input-row input {
  padding-block: 6px;
  padding-inline: 12px;
  border: 1px solid #fff;
  background: #f5f5f5;
  width: 190px;
  border-radius: 20px;
    font-size: 15px;
}
[dir="ltr"] .input-row input {
  direction: ltr;
}

[dir="rtl"] .input-row input {
  direction: rtl;
}

.add:hover {
  background-color: #78cb9a8c;
}
/* --------------------------------- */
body {
  background-color: #f5f5f5;
  padding: 40px;
}
/* LTR font */
/* [dir="ltr"] body {
  font-family: 'Montserrat', sans-serif;
} */

/* RTL font */
/* [dir="rtl"] body {
  font-family: 'Almarai', sans-serif;
} */
.upload-container {
  border: 2px dashed #ccc;
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  /* direction: rtl; */
}

.upload-container img {
  width: 50px;
  margin-bottom: 10px;
}

.upload-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-title a {
  color: #004080;
  text-decoration: underline;
}

.upload-desc {
  font-size: 12px;
  color: #666;
}
/* ---------------------------show----------------------------------- */
body {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #f5f5f5;
  padding: 40px;
}

.actions a{


font-size: 16px;
  margin-left: 20px;
}


.table-container {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.filters input {
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 180px;
}
.filters .datee {
  display: flex;
  gap: 20px;
}
.f-t label {
  margin: 10px;
  color: #343A4080;
}

.filters input::placeholder {
  text-align: right;
}

.search-box {
  position: relative;
  width: 350px;
}

.search-box input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  position: absolute;
}
.search-box i {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #343A4080;
}

.search-box::before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #002f6c;
  color: white;
}

th,
td {
  padding: 12px;
  font-size: 18px;
  /* font-family: "Almarai, sans-serif" ; */
  font-size: 1.1rem;
  font-weight: 400;
  
}
tbody td {
  border-bottom: 1px solid #eeeaf5;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

/* .actions button {
      border: 1px solid #ccc;
      padding: 6px 10px;
      margin: 0 4px;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      font-size: 14px;
    } */
.detals {
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  display: inline-block;
}

.edit {
  text-decoration: none;

  border: 1px solid #607d8b;
  color: #607d8b;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  align-self: start;
  display: inline-block;
}

.btn-details {
  color: #0056b3;
}

.btn-edit {
  color: #607d8b;
}
/* ----------------------------------------------------------------------- */
/* pass */

.password-change-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

.password-change-form h2 {
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;
  margin-bottom: auto;
  padding: 20px;
  margin-bottom: 30px;
  color: #143c7c;
}

.password-change-form .lock-icon {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}
.form-group .icon {
  position: absolute;
  left: 10px;
  bottom: 1px;
  padding-bottom: 10px;
  color: #343a4080;
}

.visibility-toggle {
  position: absolute;
  left: 10px;
  top: 35px;
  cursor: pointer;
}

.saving {
  width: 100%;
  padding: 10px;
  background-color: #043a74;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #043a74;
}
/* -----------------details---------------------- */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f6;
  margin: 0;
  padding: 20px;
}

.table-container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
}

th {
  background-color: #003366;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.section-title {
  /* text-align: right; */
  font-weight: bold;
  font-size: 20px;
  /* margin: 15px; */
}
/* -----------------edit--------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  /* direction: rtl; */
  /* text-align: right; */
  background-color: hsl(0deg 0% 96.08%);
  padding: 5px 20px;
}
/* LTR layout */
[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}

/* RTL layout */
[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}
/* Start infirmation section  */

.information {
  background-color: white;
  padding: 20px 15px;
  border-radius: 15px;
}

.information h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.information h6 {
  color: hsl(220deg 1.8% 67.25%);
  margin-top: 15px;
}

.information .number-fax {
  color: hsl(218.18deg 51.05% 45.87%);
}

.information h5 {
  font-size: 20px;
}

.information .discription-information {
  font-size: 19px;
}

/* End information section  */

/* Start table section  */

.table h5 {
  font-size: 23px;
  margin: 20px 0;
}

.table table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

.table thead {
  color: white;
}

.table td,
.table th {
  padding: 10px;
}

.table tbody tr {
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.table tbody tr {
  background-color: white;
}

.table h6 {
  background-color: hsl(0deg 0% 96.08%);
  font-size: 17px;
  padding: 11px;
  border-radius: 40px;
}

.table button {
  font-size: 15px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.table svg {
  color: white;
  background-color: hsl(1.88deg 68.38% 54.12%);
  padding: 4px;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.3s linear;
}

.table button:hover svg {
  background-color: white;
  color: hsl(1.88deg 68.38% 54.12%);
}
 .custom-input {
        background-color: #f5f5f5; /* لون الخلفية */
        border: none;
        border-radius: 20px; /* حواف دائرية */
        padding: 8px 14px;
        font-size: 18px;
        text-align: right; /* النص على اليمين */
        width: 150px; /* عرض الحقل */
        box-shadow: none; /* بدون ظل */
        outline: none; /* إزالة الإطار عند التركيز */
    }

/* End table section  *

 /* -------------------responsev---------------- */

@media (max-width: 1200px) {
  /* --------home----------- */
  .text p {
    font-size: 14px;
    line-height: 20px;
  }
  .text h4 {
    font-size: 15px;
    margin-top: 15px;
  }
  .main-img img {
    height: 200px;
  }
  .sidebar {
    width: 100px;
  }
  .sidebar img {
    width: 60px;
  }

  .main-sidebar {
    width: 150px;
  }
.css-1v2oi2d-MuiButtonBase-root-MuiIconButton-root{

margin-top: 50px;
}}
  
  /* -----------log in---------------- */
  .right-side img {
    width: 400px;
    height: 50vh;
  }
  /* ----------------------------------------- */

@media (max-width: 1220px) {
  .datee input {
    margin-top: 30px;
  }
}
@media (max-width: 1026px) {
  .MuiListItem-root{
    margin-top: 30px;
  }
  .actions a {
    display: flex;
    margin-right: 15px;
    width: 100%;
    
  }
  @media (max-width: 800px) {

  .actions a {
    display: flex;
    flex-direction: column;
  }
  .up-pass h2 , i{
    font-size: 10px;
  }


  }
@media (max-width: 1375px) {
  .datee input {
    margin-top: 30px;
  }
}
@media (max-width: 851px) {
  .f-t label {
    margin: 10px;
  }
}
@media (max-width: 857px) {
  .move {
    margin: 30px;
  }
  .top-bar .active,
  .top-bar button {
    width: 50%;
    font-size: 14px;
    padding: 8px;
  }
  .top-bar {
    padding: 8px;
  }
  .content {
    width: 94%;
  }
}
@media (max-width: 800px) {
  .custom-container{
    display: block;
  }
}
@media (max-width: 1150px) {
  .actions{
    display: flex;
  }
}


/* serra */
.mobile-link {
  border-radius: 6px;
  transition: background-color 0.3s ease, padding-left 0.3s ease,
    padding-right 0.3s ease;
}

.mobile-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.active-mobile-link {
  background-color: #343a4099; /* semi-transparent secondary */
  border-radius: 6px;
}

.active-mobile-link .MuiListItem-root {
  background-color: transparent !important;
}
@media (max-width: 600px) {
  .card-box h6 {
    font-size: 14px;
  }

  p {
    margin-bottom: 0.6rem;
    font-size: 12px;
  }
  .card-box i {
    font-size: 30px !important;
    /* top: 15px !important; */
  }
  .card-box {
    padding: 12px;
  }
  .adding a {
    width: fit-content;
    font-size: 14px;
  }

  strong,
  b,
  .dropdown-toggle {
    font-size: 14px !important;
  }
  .header {
    padding: 12px !important;
    margin-bottom: 8px !important;
  }
  .end > div {
    flex: auto;
  }
  .save-btn {
    width: 200px;
    font-size: 14px;
    margin-top: 16px;
  }
  .section-title {
    max-width: 340px;

    overflow-x: auto;
  }
  th {
    font-size: 14px;
  }
  tbody td h6,
  tbody td,
  .actions a {
    font-size: 12px;
  }
  .password-change-form {
    width: auto;
    margin-top: 30px;
  }
  .form-group input {
    margin-top: 8px;
    margin-bottom: 4px;
  }
  .form-group label {
    font-size: 14px;
  }
  .password-change-form h2 {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .search-box input,
  .search-box {
    width: -webkit-fill-available;
    margin-bottom: 20px;
  }
  .filters .datee {
    display: block;
    margin-top: 40px;
  }
  .filters {
    display: inline-flex;
  }
  .datee input {
    margin-top: 0px;
  }
  .filters .datee {
    margin-top: 16px;
    display: contents;
  }
}
.table-container {
  margin: 0;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
}
