body {
  background-color: #f5f5f5 !important;
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 40px;
  direction: rtl;
}
.title a{
  text-decoration: none;
  color: black;
  
}
.back a{
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 70px;
  right: 15px;
  font-size: 17px;

}

.main-sidebar {
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  min-height: 20vh;
  width: 200px;
  padding: 20px;
}
.sidebar img {
 position: relative;
  width: 100px;
  left: 25px;
}
.sidebar {
  min-height: 20vh;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 77px 40px 77px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 200px;
}

.right-side .logout {
  margin-top: 200px;
  color: red;
  padding: 15px;
}
.right-side :nth-of-type(1),
:nth-of-type(2) :nth-of-type(3) {
  /* padding-bottom: 20px; */
}
.sidebar a,
.main-sidebar a {
  color: #333;
  display: block;
  margin-bottom: 24px;
  text-decoration: none;
}
.sidebar a.active,
.sidebar a:hover {
  font-weight: bold;
  color: #0d6efd;
}
.logout {
  color: red;
  margin-top: 40px;
  font-weight: bold;
}







/* --------------h0me------------------- */
.main-img img {
  width: 100%;
}
.text h4 {
  width: 500;
  font-weight: bold;

  margin-top: 30px;
}
.text {
  text-align: center;
  line-height: 50px;
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text p {
  font-size: 22px;
}

.content {
  width: 100%;
}
.header {
  width: 100%;
  direction: ltr;
  padding: 20px;
  margin-top: 18px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
}
.carousel-inner {
  border-radius: 20px;
}
.slids {
  direction: rtl;
}
.card-box i{
  font-size: 35px;
  position: relative;
  top: 20px;
}
.adding {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.adding h6 {
  font-weight: bold;
  margin-right: 50px;
}
.text-muted{
   margin-right: 50px;
   color: #343A40CC;
}

.bottonn a{ 
  text-align: center;  

}
.botton {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #043a74;
  display: flex;
  width: 100%;
}
.botton a {
  text-align: center;
}
.card-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.card-box h6 {
  font-weight: bold;
}





  

/* ---------------add new-------------------------- */
body {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}



.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #d9d9d959;
  height: 70px;
  border-radius: 20px;
  padding: 10px;
}

.top-bar button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s, color 0.3s;
}

.top-bar button.active {
  color: #000 !important;
  background: white;
  color: white;
}



thead {
  background-color: #0c2f67;
  color: white;
}



    th, td {
   
      padding: 5px;
      border-bottom: 1px solid #ddd;
    }

.action-btn {
 padding: 6px 12px;
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
  color: red;
  background-color: white;
}

.delete-btn {
  background-color: #e74c3c;
}
.add
   {
  background-color: white;
  border: 1px solid #168000;
  padding: 8px;
  border-radius: 7px;
}

.add-btn {
  background-color: #2ecc71;
}

.form-footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 500px;
  /* margin-bottom: 20px; */
  /* flex-wrap: wrap; */
}
.form-footer textarea{
  width: 50%;
}

.form-footer input,
.form-footer textarea {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.end{
  display:flex ;
  align-items: center;
  gap: 450px;
  margin-top: 20px;
  clear: both;
  
}
.end label{
  padding-bottom: 10px;
}
.end textarea{
  width: 300%;
  border: none;
  border-radius: 8px;
  height: 5vh;
  
}
.end input{
  width: 420%;
   border: none;
  border-radius: 8px;
    height: 5vh;


}

.save-btn {
  background-color: #0c2f67;
  color: white;
  padding: 12px 40px;
  width: 400px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 18px;
  margin-top: 20px;
}

 .input-row select
 {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc; 
}
.input-row input{
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
} 
/* --------------------------------- */
body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      padding: 40px;
    }

    .upload-container {
      border: 2px dashed #ccc;
      background-color: #fff;
      padding: 40px 20px;
      text-align: center;
      border-radius: 8px;
      max-width: 600px;
      margin: auto;
      direction: rtl;
    }

    .upload-container img {
      width: 50px;
      margin-bottom: 10px;
    }

    .upload-title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .upload-title a {
      color: #004080;
      text-decoration: underline;
    }

    .upload-desc {
      font-size: 12px;
      color: #666;
    }
  /* ---------------------------show----------------------------------- */
   body {
      font-family: "Arial", sans-serif;
      background-color: #f5f5f5;
      padding: 40px;
    }

    .table-container {
      
      margin: auto;
      background-color: white;
      border-radius: 10px;
      padding: 20px;
    }

    .filters {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 10px;
    }

    .filters input {
      padding: 10px;
      border: none;
      border-radius: 12px;
      width: 180px;
    }
    .filters .datee{
      display:flex;
      gap: 20px;
    }

    .filters input::placeholder {
      text-align: right;
    }

    .search-box {
      position: relative;
      width: 500px;
    }

    .search-box input {
      width: 100%;
      padding: 10px 35px 10px 10px;
      position: absolute;
    }
    .search-box i{
      position: relative;
      top: 10px;
      right: 10px;
      font-size: 20px;
    }


    .search-box::before {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: #999;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 8px;
      overflow: hidden;
    }

    thead {
      background-color: #002f6c;
      color: white;
    }

    th, td {
      padding: 12px;
      
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    /* .actions button {
      border: 1px solid #ccc;
      padding: 6px 10px;
      margin: 0 4px;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      font-size: 14px;
    } */
     .detals{
      text-decoration: none;
       border: 1px solid #ccc;
      padding: 8px;
      margin: 20px;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      font-size: 14px;

     }
     
     .edit{
      text-decoration: none;
  
       border: 1px solid #607D8B;
       color: #607D8B;
      padding: 8px;
      margin: 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      font-size: 14px;
      align-self: start;
      

     }

    .btn-details {
      color: #0056b3;
    }

    .btn-edit {
      color: #607D8B;
    }
/* ----------------------------------------------------------------------- */
/* pass */


.password-change-form {
    background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;    
  margin: auto;
  margin-top: 100px;
}

.password-change-form h2 {
    font-size: 18px;
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;
    margin-bottom: auto;
  padding: 20px;
  margin-bottom: 30px;
  color: #143C7C;
}

.password-change-form .lock-icon {
    margin-left: 10px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    
}
.form-group .icon{
  position: absolute;
  left: 10px;
  bottom: 1px;
  padding-bottom: 10px;
  color: #343A4080;
}

.visibility-toggle {
    position: absolute;
    left: 10px;
    top: 35px;
    cursor: pointer;
}

.saving {
    width: 100%;
    padding: 10px;
    background-color:#043A74;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color:white;
}
/* -----------------details---------------------- */
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f6;
      margin: 0;
      padding: 20px;
    }

   

   

    .table-container {
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 12px;
     
    }

    th {
      background-color: #003366;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .section-title {
      text-align: right;
      font-weight: bold;
     margin: 15px;
    }
    /* -------------------------------------------- */

    * {
     margin: 0;
     padding: 0;
 }

 body {
     direction: rtl;
     text-align: right;
     background-color: hsl(0deg 0% 96.08%);
     padding: 5px 20px;
 }

 /* Start infirmation section  */

 .information {
     background-color: white;
     padding: 20px 15px;
     border-radius: 15px;
 }

 .information h4 {
     font-size: 20px;
     margin-bottom: 15px;
     font-weight: bold;
 }

 .information h6 {
     color: hsl(220deg 1.8% 67.25%);
     margin-top: 15px;
 }

 .information .number-fax {
     color: hsl(218.18deg 51.05% 45.87%);
 }


 .information h5 {
     font-size: 20px;
 }

 .information .discription-information {
     font-size: 19px;
 }

 /* End information section  */

 /* Start table section  */

 .table h5 {
     font-size: 23px;
     margin: 20px 0;
 }

 .table table {
     border-collapse: separate;
     border-spacing: 0 3px;
 }

 .table thead {
     color: white;
     
    
 }

 .table td,
 .table th {

     padding: 10px;
 }

 .table tbody tr {

     overflow: hidden;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
 }

 .table tbody tr {
     background-color: white;
 }

 .table h6 {
     background-color: hsl(0deg 0% 96.08%);
     font-size: 17px;
     padding: 11px;
     border-radius: 40px;
 }

 .table button {
     font-size: 15px;
     font-weight: 500;
     display: inline-flex;
     align-items: center;
 }

 .table svg {
     color: white;
     background-color: hsl(1.88deg 68.38% 54.12%);
     padding: 4px;
     border-radius: 50%;
     margin-right: 5px;
     transition: all .3s linear;
 }

 .table button:hover svg {
     background-color: white;
     color: hsl(1.88deg 68.38% 54.12%);
 }

 /* End table section  *

 /* -------------------responsev---------------- */

@media(max-width: 1200px){
  .text p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
}
.text h4{
  margin-top: -3x;
  font-size: 15px;
}
.main-img img {

  height: 60vh;
}
.sidebar{
  width: 100px;
}
.sidebar img{
  width: 60px;
}
.main-sidebar{
  width: 150px;
}
/* --------------------------- */


}


    
